<div class="action-bar">
    <!-- Start/end of game -->
    <div data-bind="visible: waitingToPlay">
        <p>Aguardando jogadores</p>
        <p data-bind="visible: !wantToStart()">
            <button class="btn btn-default" data-bind="enable: canAddAi(), event: {vclick: addAi}">Adicionar IA</button>
            <button class="btn btn-default" data-bind="enable: canRemoveAi(), event: {vclick: removeAi}">Remover IA</button>
            <br/>
            <button class="btn btn-default" data-bind="event: {vclick: start.bind(null, 'original')}, enable: canStartGame">Iniciar jogo normal</button>
            <button class="btn btn-default" data-bind="event: {vclick: start.bind(null, 'inquisitors')}, enable: canStartGame">Iniciar jogo inquisitor</button>
        </p>
        <p data-bind="visible: wantToStart()">
            Nem todos jogadores estão prontos. Inciar sem eles?<br/>
            <button class="btn btn-default" data-bind="event: {vclick: confirmStart.bind(null, null)}">Iniciar</button>
            <button class="btn btn-default" data-bind="event: {vclick: cancelStart}">Voltar</button>
        </p>
    </div>
    <!-- ko if: !waitingToPlay() -->
    <div data-bind="visible: weHaveWon()">
        Você ganhou!<br/>
    </div>
    <div data-bind="visible: theyHaveWon()">
        <span data-bind="text: winnerName()"></span> ganhou!<br/>
    </div>
    <div data-bind="visible: canPlayAgain()">
        <button class="btn btn-default" data-bind="event: {vclick: playAgain}">Jogar novamente</button>
    </div>
    <!-- /ko -->

    <!-- During game -->
    <div data-bind="visible: weAreInState('start-of-turn')">
        <!-- ko if: !targetedAction() -->
            Sua vez:<br/>
            <!-- ko foreach: actionNames() -->
                <!-- ko if: actionPresentInGame($data) -->
                    <button class="btn btn-action" data-bind="enable: canPlayAction($data), event: {vclick: playAction}, css: buttonActionClass($data)">
                        <i data-bind="css: $data"></i>
                        <span data-bind="text: $data"></span>
                    </button>
                <!-- /ko -->
            <!-- /ko -->
        <!-- /ko -->
        <!-- ko if: targetedAction -->
            <i data-bind="css: targetedAction"></i>
            <span data-bind="text: targetedAction"></span>:
            <!-- ko foreach: state.players -->
                <!-- ko if: canTarget($index()) -->
                    <button class="btn btn-default" data-bind="text: name, event: {vclick: function() { playTargetedAction($index()); }}"></button>
                <!-- /ko -->
            <!-- /ko -->
            <button class="btn btn-link" data-bind="event: {vclick: cancelAction}">voltar</button>
        <!-- /ko -->
    </div>
    <div data-bind="visible: theyAreInState('start-of-turn')">
        Aguardando <span data-bind="text: currentPlayerName()"></span> para jogar
    </div>
    <div data-bind="visible: theyAreInState('exchange')">
        <i class="exchange"></i>
        Esperando <span data-bind="text: currentPlayerName()"></span> trocar de papéis
    </div>
    <div data-bind="visible: weAreInState('exchange')">
        <i class="exchange"></i>
        <span data-bind="text: ourInfluenceCount()"></span>, escolha os papéis para manter:<br/>
        <!-- ko foreach: state.state.exchangeOptions -->
            <button class="btn" data-bind="text: $data, css: exchangeOptionClass($index()), event: {vclick: function() {toggleExchangeOption($index());}}"></button>
        <!-- /ko -->
        <br/>
        <button class="btn btn-action btn-ambassador" data-bind="enable: exchangeOptionsValid(), event: {vclick: exchange}">
            <i class="exchange"></i>
            <span>Trocando</span>
        </button>
    </div>
    <div data-bind="visible: theyAreInState('interrogate')">
        <i class="interrogate"></i>
        Esperando <span data-bind="text: currentPlayerName()"></span> interrogar <span data-bind="text: targetPlayerName()"></span>
    </div>
    <div data-bind="visible: weAreInState('interrogate')">
        <i class="interrogate"></i>
        <span data-bind="text: targetPlayerName()"></span> tem um(a)
        <span class="label" data-bind="text: state.state.confession(), css: labelClass(state.state.confession())"></span><br/>

        Forçar <span data-bind="text: targetPlayerName()"></span> a trocar de papel?<br/>
        <button class="btn btn-default" data-bind="event: {vclick: interrogate.bind(null, true)}">Sim</button>
        <button class="btn btn-default" data-bind="event: {vclick: interrogate.bind(null, false)}">Não</button>
    </div>
    <div data-bind="visible: weAreInState('action-response')">
        <i data-bind="css: state.state.action"></i>
        <span data-bind="text: stateMessage()"></span><br/><br/>
        Aguardando desafios/bloqueios
    </div>
    <div data-bind="visible: theyAreInState('action-response')">
        <i data-bind="css: state.state.action"></i>
        <span data-bind="text: stateMessage()"></span><br/><br/>
        <!-- ko if: !weAreAlive() -->
            <br/>
            Aguardando desafios/bloqueios
        <!-- /ko -->
        <!-- ko if: weAreAlive() -->
            <button class="btn btn-action" data-bind="event: {vclick: allow}, css: { 'btn-success': weAllowed(), 'btn-default': !weAllowed() }">
                <i class="allow"></i>
                <span>Aceito</span>
            </button>
            <!-- ko if: weCanBlock() -->
                <!-- ko foreach: blockingRoles() -->
                    <button class="btn btn-action" data-bind="event: {vclick: block}, css: buttonActionClass($data)">
                        <i class="block"></i>
                        <span data-bind="text: 'Block with ' + $data"></span>
                    </button>
                <!-- /ko -->
            <!-- /ko -->
            <button class="btn btn-action btn-default" data-bind="event: {vclick: challenge}, visible: weCanChallenge()">
                <i class="challenge"></i>
                <span>Desafio</span>
            </button>
        <!-- /ko -->
    </div>
    <div data-bind="visible: weAreInState('final-action-response')">
        <i data-bind="css: state.state.action"></i>
        Aguardando bloqueios
    </div>
    <div data-bind="visible: theyAreInState('final-action-response')">
        <i data-bind="css: state.state.action"></i>
        <!-- ko if: !weCanBlock() -->
            Aguardando bloqueios
        <!-- /ko -->
        <!-- ko if: weCanBlock() -->
            Última chance para bloquear<br/>
            <button class="btn btn-action" data-bind="event: {vclick: allow}, css: { 'btn-success': weAllowed(), 'btn-default': !weAllowed() }">
                <i class="allow"></i>
                <span>Aceito</span>
            </button>
            <!-- ko foreach: blockingRoles() -->
                <button class="btn btn-action" data-bind="event: {vclick: block}, css: buttonActionClass($data)">
                    <i class="block"></i>
                    <span data-bind="text: 'Block with ' + $data"></span>
                </button>
            <!-- /ko -->
        <!-- /ko -->
    </div>
    <div data-bind="visible: weAreTargeted('block-response')">
        <i class="block"></i>
        <span data-bind="text: stateMessage()"></span><br/><br/>
        Aguardando por desafios
    </div>
    <div data-bind="visible: theyAreTargeted('block-response') &amp;&amp; weAreAlive()">
        <i class="block"></i>
        <span data-bind="text: stateMessage()"></span><br/><br/>
        <!-- ko if: !weAreAlive() -->
            Aguardando por desafios
        <!-- /ko -->
        <!-- ko if: weAreAlive() -->
            <button class="btn btn-action" data-bind="event: {vclick: allow}, css: { 'btn-success': weAllowed(), 'btn-default': !weAllowed() }">
                <i class="allow"></i>
                <span>Aceito</span>
            </button>
            <button class="btn btn-action btn-default" data-bind="event: {vclick: challenge}, visible: weCanChallenge()">
                <i class="challenge"></i>
                <span>Desafio</span>
            </button>
        <!-- /ko -->
    </div>
    <div data-bind="visible: weMustReveal()">
        <span data-bind="text: stateMessage()"></span><br/><br/>
        Você deve revelar uma influência
        <!-- ko foreach: ourInfluence() -->
        <button class="btn" data-bind="text: role, css: buttonRoleClass(role()), visible: !revealed(), event: {vclick: reveal}"></button>
        <!-- /ko -->
    </div>
    <div data-bind="visible: theyMustReveal()">
        <span data-bind="text: stateMessage()"></span><br/><br/>
        Esperando <span data-bind="text: toRevealPlayerName()"></span> revelar uma influência
    </div>
</div>
